.search {
  -webkit-appearance: none;
  border: 10px;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  width: 300px;
  line-height: 30px;
  margin-bottom: 30px;
}
.search:hover{
  width:400px;
}